@charset "UTF-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header{
	padding:5px 0px;
	margin-botton:20px;
	height:30px;
	background-color:#545454;
	color:#fff;
	box-shadow:0px 2px 2px;
}

header > div{
	margin-left:8px
}

#conteudo{
	padding:0px 8px
}

footer{
	
	padding:0px 8px;
	margin-bottom:10px
	
}
#msg1{
	font-size: 25px;
	font-family: calibri;
    color: #000000;
	width:290px;
	margin:auto;
	margin-top:100px;	
}
#login-dialog{
	width:290px;
	margin:auto;
	margin-top:130px;	
}
#msg2{
	font-size: 15px;
	font-family: calibri;
    color: #000000;
	width:290px;
	margin:auto;
	margin-top:50px;	
}

h1{
	font-size:24px;
	font-weight:normal;
	padding:0px;
	margin:opx;
	
}
.gridLogin{
	background-color:#FFD700;
	border-radius:10px;
	border: 2px solid #ccc;
	margin-top:8px;
	padding:15px;
}